header {
  background-image: url("https://images.unsplash.com/photo-1599586120429-48281b6f0ece?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-color: var(--gray-900);
  height: 150px;
}

header .topBar {
  padding: 20px 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--white);
}
Avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--gray-800);
}

.userNameDisplay {
  background-color: var(--gray-700-75);
  backdrop-filter: blur(10px);
  padding: 0.75rem 1.5rem;
  border-radius: 15px;
  /* border: 0.1px solid var(--gray-600-75);
  border-top: 0.01px solid var(--white-75); */
}

#welcome {
  margin-inline: 8vw;
  background-color: var(--gray-600-75);
  backdrop-filter: blur(5px);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  color: var(--white);
  /* border: 0.1px solid var(--gray-600-75); */
  border-top: 0.01px solid var(--white-75);
}

header .logo {
  user-select: none;
}
header .logo img {
  height: 50px;
  pointer-events: none;
}
