.gap {
  gap: 1rem;
}

div[class*="-center-center"] {
  justify-content: center;
  align-items: center;
}

div[class*="-center-start"] {
  justify-content: center;
  align-items: flex-start;
}

div[class*="-center-end"] {
  justify-content: center;
  align-items: flex-end;
}

div[class*="-start-center"] {
  justify-content: flex-start;
  align-items: center;
}

div[class*="-start-start"] {
  justify-content: flex-start;
  align-items: flex-start;
}

div[class*="-start-end"] {
  justify-content: flex-start;
  align-items: flex-end;
}

div[class*="-end-center"] {
  justify-content: flex-end;
  align-items: center;
}

div[class*="-end-start"] {
  justify-content: flex-end;
  align-items: flex-start;
}

div[class*="-end-end"] {
  justify-content: flex-end;
  align-items: flex-end;
}

div[class*="-space-between-center"] {
  justify-content: space-between;
  align-items: center;
}

div[class*="-space-between-start"] {
  justify-content: space-between;
  align-items: flex-start;
}

div[class*="-space-between-end"] {
  justify-content: space-between;
  align-items: flex-end;
}

div[class*="-space-around-center"] {
  justify-content: space-around;
  align-items: center;
}

div[class*="-space-around-start"] {
  justify-content: space-around;
  align-items: flex-start;
}

div[class*="-space-around-end"] {
  justify-content: space-around;
  align-items: flex-end;
}

div[class*="-space-evenly-center"] {
  justify-content: space-evenly;
  align-items: center;
}

div[class*="-space-evenly-start"] {
  justify-content: space-evenly;
  align-items: flex-start;
}

div[class*="-space-evenly-end"] {
  justify-content: space-evenly;
  align-items: flex-end;
}

div[class|="flex-col"] {
  flex-direction: column;
}

div[class|="flex"] {
  display: flex;
}

.container {
  padding: 1rem 1.5rem;
  border-radius: 20px;
  background-color: #333;
  color: white;
  /* box-shadow: 0px 2px 1px 2px rgba(255, 255, 255, 0.1); */
  border: 0.1px solid var(--gray-700-75);
  border-top: 0.1px solid var(--gray-600-75);
}

main {
  margin-inline: 8vw;
  margin-block: 5rem;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0;
}
input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;

  letter-spacing: 0.5px;
  background-color: var(--white);
  color: var(--gray-1000);
  height: 2.5rem;
}

input::placeholder {
  color: var(--gray-700);
}

label {
  font-size: 0.875rem;
  color: var(--gray-600);
  user-select: none;
  transition: all 0.3s ease;
}

input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(1rem);
  color: var(--gray-700);
}

.actions-rigth {
  display: flex;
  justify-content: flex-end;
}
