@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url(button.css);
@import url(layout.css);
@import url(calendar.css);
@import url(header.css);
@import url(typografy.css);
@import url(dialog.css);
body,
html {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background-color: var(--gray-1000);
}

:root {
  --gray-1000: #000000;
  --gray-900: #121212;
  --gray-800: #1c1d1c;
  --gray-700: #3e403e;
  --gray-600: #8d908d;
  --white: #ffffff;
  --gray-1000-75: #00000075;
  --gray-900-75: #12121275;
  --gray-800-75: #1c1d1c75;
  --gray-700-75: #3e403e75;
  --gray-600-75: #8d908d75;
  --white-75: #ffffff75;
  --white-50: #ffffff50;

  --primary-color: #c7ff43;
  --secondary-color: #8d908d;
  --error-color: #dab3b3;
}

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--secondary-color);
}

.tooltip {
  height: 2rem;
  position: fixed;
  background-color: var(--white);
  color: var(--gray-900);
  padding: 0.5rem 0.5rem 0;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 5px 0 rgba(62, 62, 62, 0.5);
  translate: -50% 0;
}

.tooltip:after {
  content: "";
  position: absolute;
  bottom: 0.675rem;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--white);
  translate: -50% 1rem;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}
